<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" href="https://use.typekit.net/qxu1ebu.css">
    <link href="{{asset "css/global.css"}}" rel="stylesheet">
    <link href="{{asset "css/theme.css"}}" rel="stylesheet">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    <meta property="og:image" content="https://www.mugshotbot.com/m?url={{url absolute=true}}">
    
    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs. --}}
    {{{block "highlight"}}}

</head>
<body class="{{body_class}}">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <div class="footer">
      <div class="copyright">
         <p>
          Copyright <strong><a href="{{@site.url}}">{{@site.title}}</a></strong> &copy; {{date format="YYYY"}} <br />
          Theme created by <a href="https://littlefox.es">soulchild</a> <br /><br /><br />
          Hosted on <a href="https://m.do.co/c/f7f1b47b1fff" target="_blank" rel="noopener">DigitalOcean</a>
        </p>
      </div>
    </div>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
